body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    background-image: linear-gradient(135deg, navy 5%, #008cff);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.gamefont {
    display: inline;
}

.info {
    margin: 10mm 10mm;
    font-size: 30px;
    height: auto;
    vertical-align: top;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-bottom: 6mm;
}

#root {
    /* min-width: 600px; */
    margin: 0 auto;
    min-height: 700px;
}

#tictactoe {
    margin-top: 0;
    padding: 5px 0;
    font-size: 50px;
    background-color: pink;
    text-align: center;
}

#turn {
    font-size: 30px;
}

.symbol {
    margin: 0;
}

.game {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 10px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: min-content;
}

.grid-cell {
    height: 22vw;
    width: 22vw;
    font-size: 15vw;
    border: white solid 0.5px;
    margin: 1px 1px;
    border-radius: 10px;
    text-align: center;
}

.mark {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Indie Flower', cursive;
}

.which_player,
.symbol {
    font-size: 10vw;
}

#win_loss {
    font-size: 30px;
    width: max-content;
    margin: 0 auto;
    padding: 5px 10px;
}

#WinLossContain {
    background-color: azure;
    width: max-content;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 8mm;
}

.normal-cell {
    background-color: darkmagenta;
    color: white;
    opacity: 0.5;
}

.win-cell {
    background-color: darkmagenta;
    color: white;
}

.player {
    margin: 5px;
    border-radius: 10px;
    background-color: pink;
}

/* .active {
    background-color: pink;
}

.inactive {
    background-color: white;
} */

.status {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2px 15px;
    margin: 2px 2px;
    border-radius: 10px;
}

#reload {
    font-size: 30px;
    background-color: cyan;
    padding: 2px 15px;
    width: max-content;
    border-radius: 10px;
    margin: 15px auto;
    font-weight: bold;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}